

/* Couleurs inspirées de Santorin et de la mer Égée */
$main-color: #3A7CA5;
$secondary-color: #E2C16E;
$background-color: #F5F5F5;
$dark-gray: #444444;
$olive-green: #8A9A5B;

/* Autres couleurs optionnelles */
$blue-mediterranean: #006F8E;
$white-soft: #F5F5F5;
$gold-soft: #D6A63A;
$gray-light: #B0B0B0;


//Spacing
$gap-base : 20px;
$padding-page : 20px;
$padding-elem : 10px 15px;