@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";



.reservation {
    form {
        display: flex;
        flex-direction: column;
        label {
            font-weight: 600;
            @include flex-col;
            
        }

        padding: $padding-elem;
        gap: calc($gap-base /2);

        input,
        select {
            border: $border $main-color;
            border-radius: 5px
        }

        input[type=submit] {
            @include btn-base;
        }
    }

    .form-recap {
        text-align: center;

        p {
            margin: 0;
            font-size: 17px;
        }
    }
}