@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";


.header{
    @include flex-col;
    align-items: baseline;
    padding: $padding-elem;
    @media (min-width: 1024px){
        @include flex-row;
    }

    img{
        width: 100px;
        height: 100px;
        margin: auto;

        @media (min-width: 1024px){
            width: 70px;
            height: 70px;
            margin: 0;
        }
    }
}

.nav{
    position: relative;
    margin:  auto;

    @media (min-width: 1024px){
        margin: auto 0 auto auto;
    }

    &__ul{

        @include flex-row;
        @include ul-reset;
        gap: $gap-base;
    }

    &__menu-ul{
        position: absolute;
        @include flex-col;
        @include ul-reset;
        gap: 5px;
        z-index: 56;
        margin-top: 5px;
    }
}

.nav-btn{
    @include btn-base;
}