@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.footer{
    @include flex-col;
    background-color: $main-color;
    color:$text-light;
    justify-content: center;
    text-align: center;
    button{
        @include btn-base;
    }
}